<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sravanthy.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Musical Structure App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Top100RockSongs" android:label="Top 100 Rock Songs"/>
        <activity android:name=".Top100RapSongs" android:label="Top 100 Rap Songs"/>
        <activity android:name=".CurrentSongDetails" android:label="Currently Playing Song" />
        <activity android:name=".BuySong" android:label="Purchase Song" />
    </application>

</manifest>